:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
}

.modal-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-and-func);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--primery-text-color);
  transition: fill var(--transition-dur-and-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  padding: 40px 39px 41px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

.modal-caption {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-desk {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:hover {
  cursor: pointer;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.modal-form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  cursor: pointer;
}

.modal-form-own-check {
  margin-right: 8px;
  cursor: pointer;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.modal-form-check:checked + .modal-form-own-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form-check:focus + .modal-form-own-check {
  outline: 2px solid var(--accent-color);
  border: none;
}

.modal-form-own-check-icon {
  display: none;
  fill: var(--primary-white-color);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.modal-form-check-link {
  color: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 93px;
       column-gap: 93px;
}

.logo__span_black {
  color: #000000;
}

.site-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-bottom: -1px;
}
.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: color var(--transition-dur-and-func);
  color: var(--title-text-color);
  display: block;
}
.site-nav__link_current {
  color: var(--accent-color);
  padding-bottom: 0;
}
.site-nav__link_current::after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.auth-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: color var(--transition-dur-and-func);
  color: var(--primery-text-color);
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__link_mail {
  margin-right: 30px;
}
.auth-nav__icon {
  fill: var(--primery-text-color);
  transition: fill var(--transition-dur-and-func);
}
.auth-nav__link:hover .auth-nav__icon, .auth-nav__link:focus .auth-nav__icon {
  fill: var(--accent-color);
}

.section-hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg), linear-gradient(to right, #c4c4c4, #c4c4c4);
  text-align: center;
}
.section-hero__title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-features {
  padding-bottom: 47px;
}

.features {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features__item {
  flex-basis: calc((100% - 90px) / 4);
}
.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__icon {
  padding: 25px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.section-speciality {
  padding-top: 47px;
}

.speciality-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.speciality-item {
  flex-basis: calc((100% - 60px) / 3);
}

.speciality-thumb {
  position: relative;
}

.speciality-overlay {
  position: absolute;
  width: 100%;
  transform: translateY(-70px);
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.speciality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.our-team__item {
  flex-basis: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__img {
  padding-bottom: 30px;
}

.our-team__name {
  margin-bottom: 10px;
}

.our-team__job {
  margin-bottom: 16px;
}

.our-team__name,
.our-team__job {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team__job {
  font-weight: 400;
  color: var(--primery-text-color);
}

.clients {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.clients__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primery-text-color);
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);
}
.clients__links:hover, .clients__links:focus {
  border: 1px solid var(--accent-color);
}
.clients__icon {
  fill: var(--primery-text-color);
  transition: fill var(--transition-dur-and-func);
}
.clients__links:hover .clients__icon, .clients__links:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer__contacts {
  margin-right: 93px;
  font-style: normal;
}
.footer__join {
  margin-right: 93px;
}

.logo_bottom {
  display: block;
  margin-bottom: 20px;
}

.logo__span_white {
  color: var(--primary-white-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__link_white {
  color: var(--primary-white-color);
}

.social-list__link_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon_white {
  fill: var(--primary-white-color);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.filters__btn {
  display: inline-flex;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.filters__btn:hover, .filters__btn:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.projects__item {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--primary-white-color);
  transition: box-shadow var(--transition-dur-and-func);
}
.projects__item:hover, .projects__item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__filter {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.projects__thumb {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  transform: translateY(0);
}
.projects__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.projects__descriptrion-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.subscribe {
  width: 570px;
}

.form-subscribe {
  display: flex;
}
.form-subscribe__input {
  display: block;
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}
.form-subscribe__btn {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  min-width: 200px;
}/*# sourceMappingURL=main.css.map */