.footer {
  background-color: #2f303a;
  padding: 60px 0;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  &__contacts {
    margin-right: 93px;
    font-style: normal;
  }

  &__join {
    margin-right: 93px;
  }
}

.logo_bottom {
  display: block;
  margin-bottom: 20px;
}
.logo__span_white {
  color: var(--primary-white-color);
}
.contacts {
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &_white {
      color: var(--primary-white-color);
    }
  }
}

.social-list__link_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon_white {
  fill: var(--primary-white-color);
}
