.subscribe {
  width: 570px;
}

.form-subscribe {
  display: flex;

  &__input {
    display: block;
    margin-right: 12px;
    padding: 15px 0 15px 16px;
    width: 358px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
  }
  &__btn {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    min-width: 200px;
  }
}
