.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;

  &__btn {
    display: inline-flex;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #f5f4fa;
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
    &:hover,
    &:focus {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    &_current {
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;

  &__item {
    flex-basis: calc((100% - 60px) / 3);
    background: var(--primary-white-color);
    transition: box-shadow var(--transition-dur-and-func);
    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__filter {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;

    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
    .projects__link:hover &,
    .projects__link:focus & {
      transform: translateY(0);
    }
  }
  &__overlay-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }
  &__descriptrion-wrap {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
}
