@media screen and (max-width: 479px) {
  .modal-form {
    max-width: 450px;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-field-desk {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &:hover {
    cursor: pointer;
  }
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-dur-and-func);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-check-wrapper {
  display: flex;
  align-items: center;

  position: relative;

  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 12px;

  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  cursor: pointer;
}

.modal-form-own-check {
  margin-right: 8px;
  cursor: pointer;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  .modal-form-check:checked + & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .modal-form-check:focus + & {
    outline: 2px solid var(--accent-color);
    border: none;
  }
}

.modal-form-own-check-icon {
  display: none;
  fill: var(--primary-white-color);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.modal-form-check-link {
  color: var(--accent-color);
}
.modal-form-btn {
  align-self: center;
}

@media screen and (max-width: 450px) {
  .modal-form-check-wrapper {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    max-width: 528px;
  }
  .modal-form-check-wrapper {
    font-size: 14px;
    line-height: 1.71;
  }
}
